[defaults]
inventory = inventory/hosts.ini
vault_password_file = inventory/group_vars/vault.yml
host_key_checking = True
stdout_callback = yaml


[colors]
highlight = white
verbose = blue
warn = yellow
error = red
ok = green
change = cyan
diff_add = bright green
diff_remove = bright red