[defaults]
inventory = inventory/hosts.ini
host_key_checking = True
stdout_callback = yaml

[colors]
highlight = white
verbose = blue
warn = yellow
error = red
ok = green
change = cyan
diff_add = bright green
diff_remove = bright red